*.lock
target/*
.~lock.QUIC-collisions.csv#
*.pem
*.key
*.rsa
*.crt
*.cert
*.txt
dissertation/dissertation.aux
dissertation/dissertation.bbl
dissertation/dissertation.blg
dissertation/dissertation.log
dissertation/dissertation.pdf
dissertation/dissertation.toc
dissertation/l4proj.log
